<html>
    <head>
        <link rel="stylesheet" href="../content/css/pico-1.5.10/css/pico.min.css">
        <link rel="stylesheet" href="../content/css/custom.css">
        <title>Aiono's Blog</title>
    </head>
    <body>
        <div id="header"></div>
        <main class="container">
            <h1>Aiono's Blog</h1>
            
            <article>
                <h2>
                    Writing a Static Site Generator in OCaml
                </h2>
                <text>
                    Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                </text>
            </article>
        </main>
    </body>
</html>