<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
        <title>Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
    </head>
    <body>
        {{components.header}}
        <main class="container">
            <h1>Blog</h1>
            <div id="posts">
                {{foreach post in posts
                    <article>
                        <hgroup>
                            <h3>
                                <a class="no-color" href="{{post.path}}">
                                    {{post.title}}
                                </a>
                            </h3>
                            <h4>
                                Posted on {{post.createdat}}
                            </h4>
                        </hgroup>
                        {{post.summary}}
                    </article>
                end}}
            </div>
        </main>
    </body>
</html>
