<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <script src="/highlight.js"></script>
        <script>hljs.highlightAll();</script>
    </head>
    <body>
        <div id="header"></div>
        <main class="container">
            <hgroup>
                <h1>{{title}}</h1>
                <h4>
                    Posted on <text>{{created-at}}</text>
                </h4>
            </hgroup>
            <div>blog-context</p>
        </main>
    </body>
</html>
