<html>
    <head>
        <link rel="stylesheet" href="../content/css/pico-1.5.10/css/pico.min.css">
        <link rel="stylesheet" href="../content/css/custom.css">
        <title>Aiono's Website</title>
    </head>
    <body>
        <nav class="container"> 
            <ul>
                <li><strong>Aiono</strong></li>
                <li>|</li>
                <li><a>Blog</a></li>
                <li><a>CV</a></li>
            </ul>
        </nav>
        <main class="container">
            <div id="page-content"> </div>
        </main>
    </body>
</html>