:root:not([data-theme]) {
    --background-color: #4a1e9e;
    --h1-color: #ddcbff;
    --h2-color: #ddcbff;
    --color: #edd8e5;
    --primary: #e2bf2b;
    --primary-hover: #9e861e;
    --primary-focus: rgba(155, 144, 93, 0.59);
    --card-background-color: #270f53;
}

.no-hover {
    pointer-events: none;
}
