:root:not([data-theme]) {
    --background-color: #0f2574;
    --h1-color: #ED5AB3;
    --h2-color: #ED5AB3;
    --color: #edd8e5;
    --primary: #ED5AB3;
    --primary-hover: #FF90C2;
    --primary-focus: #ed5ab26a;
    --card-background-color: #001154;
}

.no-hover {
    pointer-events: none;
}
