:root:not([data-theme]) {
    --max-content-width: var(--content-width);
}

.no-hover {
    pointer-events: none;
}

.no-color {
    --color: var(--color) !important;
}

@font-face {
    font-family: "Source Serif 4";
    src: url("fonts/SourceSerif4-Regular.ttf");
}  

:root {
    --sans-font: "Source Serif 4", "sans-serif";
}

html,
body {
    height: 100%;
}

/* BEGIN code blocks
   This section makes codes blocks vertically expand while horizontally scroll.
*/
pre {
    overflow: visible;
}

pre code {
    /* Normally code blocks has inline display mode
       so that it is aligned left-to-right.
       That messes up with the overflow setting because
       they are for top-to-bottom.
    */
    display: block;
    overflow-x: auto;
}

/* END code blocks */

body > header {
    display: grid;
    justify-content: center;
    height: 3.5em;
    grid-template-columns: 1fr var(--content-width) 1fr;
    background-color: #6663cb;
    a {
        color: white !important;
    }
}

header > nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-column: 2;
}

nav > .title {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}   

nav > .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .links > a {
    margin-bottom: 0;
}

.fill {
    display: flex;
    flex-grow: 1;
}

#posts {
    margin-top: 1.5rem;
}

hgroup > h3 {
    margin-bottom: 0;
}

hgroup > h4 {
    margin-top: 0;
}
